@import '../../../scss/universal';

footer{
    background: $platinum;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #000;

}
.svgs{
    text-align: center;
}
.info-section{
    display: flex;
    justify-content: space-between;
    // color: white;
    a{
        color: $text;
        display: block;
        line-height: 1.5;
    }
}
.footer-link{
    height: 32px;
    // margin-bottom: 4px;
    border-radius: 50%;
    border: 1px solid black;
    background: white;
}

.nightmode{
    background: #22007C;
    border-top: 1px solid #fff;
    .footer-link{
        border: 1px solid white;
        &:hover{
            border: 1px solid $saffron !important;
            background: $saffron;
        }
    }
    a{
        color: white;
        &:hover{
            color: $saffron !important;
        }
    }
}

@media (max-width:767px) {
    .info-section{
        flex-direction: column;
    }
    .svgs{
        text-align: start;
    }
}