<footer [ngClass]="{'nightmode': darkLightService.darkMode}">
    <div class="container info-section poppins">
        <!-- MY INFO -->
        <div class="info-parent">
            <h3 class="title">My Info</h3>
            <p class="my-info">
                <span>N. Harrison Wilkins</span> <br>
                <span>Completed on: 08/05/2023</span> <br>
                <span>Tools: Angular, ngBootstrap</span> <br>
            </p>
        </div>

        <!-- MY LINKS -->
        <div class="info-parent">
            <h3 class="title">My links</h3>
            <p class="my-info text-center">
                <a target="_blank" href="https://linkedin.com/in/nharrisonw/"><img src="../../../assets/linkedin.svg" alt="" class="footer-link"></a> <br>
                <a target="_blank" href="https://github.com/nHarrisonW"><img src="../../../assets/github.svg" alt="" class="footer-link"></a> <br>
                <a href=""><img src="../../../assets/resume-7.svg" alt="" class="footer-link"></a> <br>
            </p>
        </div>

        <!-- lETTERS OF REC -->
        <div class="info-parent">
            <h3 class="title">Letters of Recomendation</h3>
            <p class="my-info">
                <a class="letter-link" routerLink="{{item.route}}/letter" *ngFor="let item of letterService.letters">{{item.name}}</a>
            </p>
        </div>

        <!-- LOGO -->
        <div class="info-parent">
            <img src="../../../assets/MyLogo.png3" alt="" class="footer-logo">
        </div>

    </div>
</footer>