@import '../../../scss/universal';

nav{
    position: sticky;
    top: 0;
    z-index: 100;

    transition: ease-in-out 300ms; //UNIVERSAL
    padding: 32px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    background: $platinum;
    .nav-route{
        text-decoration: none;
        align-items: center;
        display: flex;
        color: black;
        &:hover{
            text-decoration: underline;
            text-decoration-color: $saffron;
        }
    }
    .active{
        // background: #ffffff40;
        text-decoration: underline;
        text-decoration-color: $saffron;
        border-radius: 4px;
    }
}



// NIGHTMODE
.nightmode{
    background: #22007C;
    color: white;
    border-bottom: 1px solid white;
    .nav-route{
        color: white;
    }
}


// Responsive
@media (max-width: 1180px){
    .nav-route{
        font-size: 12px;
    }
}

@media (max-width:758px){
    
}