

nav{
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    .nav-route{
        padding: 12px;
        align-items: center;
        display: flex;
        color: black;
    }
    .active{
        // background: #ffffff40;
        text-decoration: underline;
        text-decoration-color: #EB5E28;
        border-radius: 4px;
    }
}