<nav [ngClass]="{'nightmode': darkLightService.darkMode }">
    <div class=" nav-flex poppins">
        <a *ngFor="let route of routes" 
            class="nav-route"
            [ngClass]="{'hidden':route.hidden && !route.active}"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="route.routerLink"
            (click)="route.active ? navigate(route.routerLink) : toggleRoutes()"
            >
            {{ route.label }}
        </a>
         <app-night-day-switch></app-night-day-switch>
    </div>
</nav>