

<div class="project-page poppins">
    <a *ngIf="project.true_reference" class="title" href="{{project.true_reference}}">
        <h1 >
            {{project.name}}-Visit Me!
        </h1>
    </a>
    <h1 *ngIf="!project.true_reference" class="title">{{project.name}}</h1>

    <div>
        <p class="page-description">
            {{project.description}}
        </p>
    
    </div>
    <div class="imgs">
        <img *ngFor="let item of project.imgs" src="{{item.src}}" alt="" class="project-hero">
    </div>

</div>