
@import '../../../scss/universal';


.hero-parent{
  background: white;
  border: 1px solid grey;
    padding: 12px;

    margin-bottom: 20px;
    .code{
        margin: 0;
        line-height: 150%;
        color: black;
        span.bluecode{
          color: #0d6ebd;
        }
        span.redcode{
          color: #7b4f3a;
        }
        span.yellowcode{
          color: #e49203;
        }
        span.pinkcode{
          color: #f00fb0;
        }

    }
    .cursor{
      color: black;
      background: #000;
      animation: pulse 1s infinite;
      display: table;
    }
}



.hero-parent.nightmode{
    background: #000;
    border: 1px solid white;

    padding: 12px;

    margin-bottom: 20px;
    .code{
        margin: 0;
        line-height: 150%;

        color: white;
        span.bluecode{
            color: #91CED0;
        }
        span.redcode{
            color: #7B3A3C;
        }
        span.yellowcode{
            color: #FFE500;
        }
        span.pinkcode{
            color: #FF00D6;
        }
    }
    .cursor{
        background: #11ff00;
        color: #11ff00 !important;
        display: table;
        animation: pulse 1s infinite;
    }
      @keyframes pulse {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }
}

