

<div [ngClass]="{'nightmode':darkLightService.darkMode}" class="hero-parent roboto">
    <p class="code">
        <span class="bluecode">aspiring_junior_dev</span>
        = <span class="pinkcode">&#123;</span>
    </p>
    <p class="code ps-3">
        <span class="bluecode">name: </span>
        <span class="redcode">'N. Harrison Wilkins'</span>,
    </p>

    <p class="code ps-3">
        <span class="bluecode">phone_number: </span>
        <span class="redcode">'(209)612-2203'</span>,
    </p>

    <p class="code ps-3">
        <span class="bluecode">email: </span>
        <span class="redcode">'proHarrisonW@gmail.com'</span>,
    </p>

    <p class="code ps-3">
        <span class="bluecode">location: </span>
        <span class="redcode">'Tracy, CA 95377'</span>,
    </p>

    <p class="code ps-3">
        <span class="bluecode">currently_working_on: </span>
        <span class="yellowcode">[</span>
    </p>

    <p class="code ps-4">
        <span class="redcode">'Stockton Mayor Website'</span>,
    </p>

    <p class="code ps-4">
        <span class="redcode">'SuppWorld! (Personal)'</span>,
    </p>

    <p class="code ps-4">
        <span class="redcode">'CORSACRAFT (Personal)'</span>,
    </p>

    <p class="code ps-3">
        <span class="yellowcode">]</span>
    </p>

    <p class="code">
        <span class="pinkcode">&#125;</span>
    </p>

    <p class="cursor">$</p>


</div>