@import '../../../scss/universal';




.about-parent{
    
    display: flex;
    font-weight: 300;
    h1{
        font-weight: 900;
    }
    .about-hero{
        margin-right: 32px;
        .headshot{
            width: 100%;
            border-radius: 50%;
        }
        .bio{
            background: $platinum;
            border: 1px solid black;

            padding: 20px;
            margin-top: -80px;
            padding-top: 80px;

            text-align: center;
            .hello-title{
                font-size: 30px;
                font-weight: 900;
            }
        }
    }
    // a{
    //     color: black !important;
    // }
    .contact{
        text-decoration: none;
        color: black !important;
        background: $platinum;
        border: 1px solid black;
        padding: 12px;
        font-weight: 300;
    }
    
}

@media (max-width:991px) {
    .about-parent{
        flex-direction: column;
        .col-4{
            width: 100%;
        }
    }

}



