<div class="about-parent" [ngClass]="{ nightmode: darkLightService.darkMode }">
  <div class="about-hero col-4">
    <img src="https://i.imgur.com/em9QyBb.jpg" alt="" class="headshot" />
    <div class="bio">
        <p class="hello-title">
            Hello, I'm <br>
            Harrison
        </p>
        <p class="hello-p">
            I am currently an intern junior software developer working for Codestack. My team is currently working on the Stockton Mayor's personal website!
        </p>
    </div>
  </div>
  <div>
    <h1>About Me</h1>
  <p class="about-p">
    Before embarking on my coding journey, I had the privilege of working at Costco Wholesale's distribution center, where I served as a forklift operator, a service clerk, and notably, as a safety representative for department 61. In this pivotal role, I was entrusted with the vital task of proactively identifying and rectifying safety concerns within the warehouse, conducting thorough inspections, and engaging with fellow employees to ensure a secure work environment. Furthermore, I represented my department during safety meetings, effectively communicating identified issues and collaborating with colleagues and management to implement actionable solutions. This experience honed my skills in problem-solving and cross-functional collaboration, which continue to benefit me in my current coding endeavors.
  </p>
  <p class="about-p">
    Now, fueled by a newfound passion, my mission has evolved towards crafting unique software solutions. Building on the foundation of my experience at Costco, I am dedicated to leveraging my problem-solving aptitude and collaborative skills to design and develop innovative software applications that address real-world challenges. Just as I once championed safety and efficiency within the warehouse, I am now committed to harnessing technology's potential to streamline processes, enhance user experiences, and make a positive impact. This transition from a safety advocate to a software creator showcases my adaptability and continuous pursuit of growth, driving me to contribute meaningfully to the ever-evolving landscape of technology.
  </p>
  <!-- <p class="about-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id iste nostrum est quod, animi ipsum, voluptate esse tenetur numquam eveniet velit alias? Excepturi dolore quod odio esse iste dolores tempore sequi sapiente quibusdam, delectus, inventore mollitia iusto dolor quidem accusamus.
  </p> -->
  <a href="mailto:wilkinsnigel2000@gmail.com" class="contact">Send an Email!</a>
  </div>
</div>
