

.project-parent{
    display: flex;
    color: white;

    .project-hero{
        width: 100%;
        border-radius: 12px;
    }
    a{
        color: white;
    }
    .description{
        max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
        
    }
}

.reverse{
    flex-direction: row-reverse;
    text-align: end;
}