@import '../../../scss/universal';


.project-parent{
    display: flex;
    // color: white;

    .project-hero{
        width: 100%;
        // border-radius: 12px;
        border: 1px solid black;
    }
    a{
        color: $text;
    }
    .description{
        max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
        
    }
}

.reverse{
    flex-direction: row-reverse;
    // text-align: end;

    .proj-title{
        text-align: right;
    }
}
.title{
    h1{&:hover{
        color: $saffron;
        text-decoration: underline $saffron;
    }}
}



.nightmode{
    // background: #000;
    // color: white;
    a{
        color: white;

    }
}



@media (max-width: 868px){
    .project-parent{
        flex-direction: column;
    }
    .col-6{
        width: 100%;
    }
    .reverse{
        .proj-title{
        text-align: start;
        }
    }
}