

.project-parent{
    display: flex;
    // color: white;

    .project-hero{
        width: 100%;
        // border-radius: 12px;
        border: 1px solid black;
    }
    a{
        color: black;
    }
    .description{
        max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
        
    }
}

.reverse{
    flex-direction: row-reverse;
    text-align: end;
}
.title{
    h1{&:hover{
        color: red;
    }}
}