@import '../../../scss/universal';

.skill-section{
    display: flex;
    justify-content: space-between;

    color: black;

    margin-bottom: 20px;
    p{
        margin: 0;
    }
}
.skill-grid{
    // border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    // padding: 20px;
    
    .skill-parent{
        background: $platinum;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        // width: 100px;
        // height: 100px;
        justify-content: center;
        padding: 4px;
        border-radius: 50%;
        border: 1px solid black;

        
        
    }


    .name{
        // color: white;
        font-size: 12px;
    }
    .skill-img{
        height: 32px;
    }
}



@media (max-width: 1199px){
    .nightmode{

        
        .skill-parent{
            background: none !important;
            color: white;
        }
    }

    // DAY MODE
    

    .skill-parent{
        // scale: 0.7;
        background: none !important;
        border: none !important;
        width: 50px;
    }
    .skill-flex{
        width: 100%;
    }
}

@media (max-width: 990px){

    .skill-grid{
        grid-template-columns: repeat(5,1fr);
    }

    .skill-section{
        display: flex;
        flex-direction: column;
    }
    
}


@media (min-width: 1199px){
    .skill-parent{
        height: 100px;
        width: 100px;
    }
}