
<div class="skill-section" [ngClass]="{'nightmode': darkLightService.darkMode}">
    <!-- DEV SKILLS -->
    <div>
        <h1 class="title">DEV <br> SKILLS</h1>
        <div class="skill-grid poppins" >
            <div class="skill-parent" *ngFor="let item of skills.dev">
                <img class="skill-img" src="{{item.img_src}}" alt="">
                <p class="name">{{item.name}}</p>
            </div>
        </div>
    </div>

<!-- WORK FLOW SKILLS -->
<div>
    <h1 class="title">WORK <br> FLOW SKILLS</h1>
    <div class="skill-grid poppins" >
        <div class="skill-parent" *ngFor="let item of skills.work_flow">
            <img class="skill-img" src="{{item.img_src}}" alt="">
            <p class="name">{{item.name}}</p>
        </div>
    </div>
</div>

<!-- UI/UX SKILLS -->
<div>
    <h1 class="title">UI/UX <br> SKILLS</h1>
    <div class="skill-grid poppins" >
        <div class="skill-parent" *ngFor="let item of skills.ui_ux">
            <img class="skill-img" src="{{item.img_src}}" alt="">
            <p class="name">{{item.name}}</p>
        </div>
    </div>
</div>


</div>